  body {
            margin: 0;
            font-family: Arial, sans-serif;
            background: #f3f3f3;
        }

        
        header {
            background-image: url('header.png');
			background-size: cover;
			background-position: center;
            color: white;
            padding: 15px 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: sticky;
            top: 0;
            z-index: 1000;
        }
        nav a {
            color: white;
            margin-left: 20px;
            text-decoration: none;
            font-weight: bold;
        }
        nav a:hover {
            color: #ff4444;
        }

        
        .hero {
            background-image: url('ozadje1.jpg');
			background-size: cover;
			background-position: center;
            color: white;
            text-align: left;
            padding: 80px 20px;
			padding-right:20px;
			
        }
        .hero svg {
            width: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 250px; 
    margin-right: 0
			
			
        } 

        section {
            padding: 60px 40px;
            max-width: 1100px;
            margin: auto;
        }
        h2 {
            text-align: center;
            margin-bottom: 40px;
        }

        .models {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 30px;
        }
        .car {
            background: white;
            padding: 20px;
            width: 300px;
            border-radius: 10px;
            text-align: center;
        }
        .car img {
            width: 100%;
            border-radius: 10px;
        }

        
        .about {
            background: white;
            border-radius: 10px;
            padding: 40px;
			font-size:20px;
            
        }

        
        form {
            background: white;
            padding: 40px;
            border-radius: 10px;
		}
        input, textarea {
            width: 100%;
            padding: 12px;
            margin-top: 10px;
            border: 1px solid #bbb;
            border-radius: 6px;
        }
        button {
            margin-top: 15px;
            padding: 12px 20px;
            background: #ff4444;
            color: white;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 16px;
        }
        button:hover {
            background: #cc0000;
        }

        
        footer {
            background: #1a1a1a;
            color: white;
            text-align: center;
            padding: 30px;
            margin-top: 60px;
        }
        footer img {
            width: 120px;
            margin-top: 10px;
        }
		
		h1 {
  margin-left: 250px;
   margin-top: -80px;
   text-align:left;
}

